@{
    var data = ViewData["RoomList"] as IEnumerable<HotelBookingSystem.Models.DTO.Room_Data_Table>;
    Layout = ViewBag.Layout;
}
@section Styles {
    <style>
        .btn-room {
            width: 60px !important;
            position: absolute;
            top: 22px;
            right: 0;
        }

        .date-container {
            display: flex;
            gap: 20px; /* 欄位間距，可調整 */
        }

            .date-container > div {
                flex: 1; /* 兩個欄位寬度相等 */
                min-width: 0; /* 防止內容溢出 */
            }

        .btn_sub {
            position: relative;
            top: 25px;
        }
    </style>
}
<div id="QueryData">
    @if (data != null && data.Any())
    {
        foreach(var Item in data)
        {
            <section class="u-clearfix u-section-2" id="block-10">
                <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="u-border-2 u-border-grey-75 u-container-style u-group u-group-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div class="custom-expanded u-list u-list-1">
                                <div class="u-repeater u-repeater-1">
                                    <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
                                        <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                                            <img alt="" class="custom-expanded u-image u-image-default u-image-1" data-image-width="2000"
                                                 data-image-height="1333" src="@Item.ImageURL">
                                            <div class="custom-expanded u-container-style u-group u-group-2">
                                                <div class="u-container-layout u-container-layout-3">
                                                    <h4 class="u-text u-text-1">@Item.roomType</h4>
                                                    <a href="#popup-3ef3"
                                                       class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-dialog-link u-none u-text-palette-1-base u-btn-1">
                                                        客房設施介紹
                                                    </a>
                                                    <p class="u-text u-text-2">
                                                        <b>人數限制：</b>5人　
                                                        <b>房間坪數：</b>4 坪
                                                    </p>
                                                    <p class="u-text u-text-2">
                                                        <b>房間床型：</b>一大床　
                                                        <b>房間地板：</b>超耐磨木紋地板　
                                                        <b>房間窗戶：</b>有窗戶
                                                    </p>
                                                    <p class="u-text u-text-2">
                                                        <b>床型尺寸：</b>150 公分 x 188 公分<br />
                                                        房價已包含每房每晚服務費及稅金。
                                                    </p>

                                                    <a href=""
                                                       class="u-border-1 u-border-black u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-text-hover-palette-2-base u-btn-2">
                                                        更都內容
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-align-center u-table u-table-responsive u-table-1">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="36.7%">
                                        <col width="22.3%">
                                        <col width="15.4%">
                                        <col width="13.9%">
                                        <col width="11.7%">
                                    </colgroup>
                                    <tbody class="u-table-body">
                                        <tr style="height: 47px;">
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 優惠內容</td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 每晚均價</td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell">入住日期 </td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 房間數</td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-5"> 總價</td>
                                        </tr>
                                        <tr style="height: 154px;">
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"> 商務二小床房/【不可取消專案】附贈早餐</td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-10"></td>
                                        </tr>
                                        <tr style="height: 157px;">
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-11"> 商務二小床房/【一般訂房】附贈早餐</td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-12"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell"></td>
                                            <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-15"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="u-container-style u-group u-group-3">
                                <div class="u-container-layout">
                                    <p class="u-text u-text-default u-text-3">
                                        <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                                    </p>
                                    <p class="u-text u-text-default u-text-palette-2-base u-text-4">NT$@($"{Item.price:N0}")</p>
                                    <p class="u-text u-text-default u-text-5">元</p>
                                    <p class="u-text u-text-default u-text-6"> 含稅及服務費</p>
                                </div>
                            </div>
                            <div class="u-container-style u-group u-group-4">
                                <div class="u-container-layout">
                                    <p class="u-text u-text-default u-text-7">
                                        <span class="u-file-icon u-icon"><img src="~/images/2645890.png" alt=""></span>&nbsp;​本日最低價
                                    </p>
                                    <p class="u-text u-text-default u-text-palette-2-base u-text-8">NT$@($"{Item.price:N0}")</p>
                                    <p class="u-text u-text-default u-text-9">元</p>
                                    <p class="u-text u-text-default u-text-10"> 含稅及服務費</p>
                                </div>
                            </div>
                            <div class="u-container-style u-group u-group-5">
                                <div class="u-container-layout u-container-layout-6">
                                    <div class="u-form u-form-1">
                                        <form action="@Url.Action("ShoppingCart", "Book")" method="post">
                                            <input type="hidden" name="roomId" value="@Item.RoomId" />
                                            <div class="u-form-date u-form-group u-label-none u-form-group-1">
                                                <label for="date-254b" class="u-label">Date</label>
                                                <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                                       class="u-border-none u-input u-input-rectangle u-radius u-input-1  input-date" data-date-format="yyyy/mm/dd"
                                                       required="required">
                                            </div>
                                            <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-2">
                                                <label for="number-8a57" class="u-label">Number Input</label>
                                                <select id="select-43bb" name="select" class="u-input u-input-rectangle input-name">
                                                    <option value="1" data-calc="1">1</option>
                                                    <option value="2" data-calc="2">2</option>
                                                    <option value="3" data-calc="3">3</option>
                                                    <option data-calc="4" value="4">4</option>
                                                    <option data-calc="5" value="5">5</option>
                                                    <option data-calc="6" value="6">6</option>
                                                    <option data-calc="7" value="7">7</option>
                                                    <option data-calc="8" value="8">8</option>
                                                    <option data-calc="9" value="9">8以上</option>
                                                </select>
                                            </div>
                                            <div class="u-align-center u-form-group u-form-submit u-label-none">
                                                <button type="submit" class="btn-room">訂房</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="u-container-style u-group u-group-6">
                                <div class="u-container-layout u-container-layout-7">
                                    <div class="u-form u-form-2">
                                        <form asp-controller="Booking" asp-action="ShoppingCart" method="post">
                                            <input type="hidden" name="roomId" value="@Item.RoomId" />
                                            <div class="u-form-date u-form-group u-label-none u-form-group-1">
                                                <label for="date-254b" class="u-label">Date</label>
                                                <input type="text" placeholder="YYYY/MM/DD" id="date-254b" name="date"
                                                       class="u-border-none u-input u-input-rectangle u-radius u-input-1  input-date" data-date-format="yyyy/mm/dd"
                                                       required="required">
                                            </div>
                                            <div class="u-form-group u-form-number u-form-number-layout-number u-label-none u-form-group-2">
                                                <label for="number-8a57" class="u-label">Number Input</label>
                                                <select id="select-43bb" name="select" class="u-input u-input-rectangle input-name">
                                                    <option value="1" data-calc="1">1</option>
                                                    <option value="2" data-calc="2">2</option>
                                                    <option value="3" data-calc="3">3</option>
                                                    <option data-calc="4" value="4">4</option>
                                                    <option data-calc="5" value="5">5</option>
                                                    <option data-calc="6" value="6">6</option>
                                                    <option data-calc="7" value="7">7</option>
                                                    <option data-calc="8" value="8">8</option>
                                                    <option data-calc="9" value="9">8以上</option>
                                                </select>
                                            </div>
                                            <div class="u-align-center u-form-group u-form-submit u-label-none">
                                                <button type="submit" class="btn-room">訂房</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }
</div>
