@using HotelBookingSystem.Models.DTO
@model Booking
@{
    Layout = ViewBag.Layout;
    var dataBook = ViewData["BookingData"] as IEnumerable<Book_Data_Search>;
    var rooms = ViewData["RoomData"] as IEnumerable<Room_Data_Table>;
    var total = ViewData["Total"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/Shopping.css" media="screen">
    <style>
        .bgc-hd {
            color: #ffff !important;
            background-color: #808080 !important;
        }

        .btn-delete {
            border: 1px solid #0080FF !important;
        }
    </style>
}
<section class="u-clearfix u-grey-5 u-section-1" id="block-1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-shape-rectangle u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="u-container-style u-expanded-width u-grey-50 u-group u-group-2 bgc-hd">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h4 class="u-text u-text-default u-text-1">訂單內容 </h4>
                    </div>
                </div>
                @if (dataBook != null && dataBook.Any() && rooms != null && rooms.Any())
                {
                    foreach (var Item in dataBook)
                    {
                        var room = rooms.FirstOrDefault(r => r.RoomId == Item.bookingId);
                        if (room != null)
                        {
                            <div class="u-container-style u-expanded-width u-group u-white u-group-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <p class="u-text u-text-body-color u-text-2"> 鼓悅客房(二小床)&nbsp;/ 2025 Last Minute 晚鳥限時優惠 - 住房不含早餐</p>
                                    <img class="custom-expanded u-image u-image-default u-image-1"
                                         src="@room.ImageURL"
                                         alt="" data-image-width="1280" data-image-height="853">
                                    <h4 class="u-text u-text-default u-text-3">TWD @($"{room.price:N0}")</h4>
                                    <p class="u-text u-text-default u-text-4">
                                        (含10%服<span style="font-weight: 700;"></span>務費)
                                    </p>
                                    <p class="u-text u-text-body-color u-text-default u-text-5">
                                        成人 @($"{Convert.ToInt32(Item.PeopleCount * room.capacity)}") 位<span style="font-size: 1rem;"></span>
                                    </p>
                                    <div class="u-clearfix u-group-elements u-group-elements-1">
                                        <p class="u-text u-text-default u-text-grey-50 u-text-7">入住日期:</p>
                                        <p class="u-text u-text-default u-text-grey-50 u-text-8">@Item.checkInDate.ToString("yyyy-MM-dd")</p>
                                    </div>
                                    @using (Html.BeginForm("DelectBookingByData", "Book", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@Item.bookingId" />
                                        <button type="submit" class="u-border-1 u-border-grey-75 u-border-hover-grey-75 u-btn u-button-style u-white u-btn-1 btn-delete">
                                            刪除房間
                                        </button>
                                    }
                                    <p class="u-text u-text-default u-text-grey-50 u-text-9">退房日期:</p>
                                    <p class="u-text u-text-default u-text-grey-50 u-text-10">@Item.checkOutDate.ToString("yyyy-MM-dd") </p>
                                </div>
                            </div>
                        }
                    }
                }
                <div class="u-border-2 u-border-grey-40 u-border-no-bottom u-border-no-left u-border-no-right u-container-style u-expanded-width u-group u-white u-group-4">
                    <div class="u-container-layout u-container-layout-4">
                        <div class="u-container-style u-group u-group-5">
                            <div class="u-container-layout u-container-layout-5">
                                <a href=""
                                   class="u-border-2 u-border-hover-palette-1-dark-2 u-border-palette-1-light-1 u-btn u-button-style u-hover-white u-text-hover-palette-1-dark-2 u-text-palette-1-light-1 u-white u-btn-2">
                                    <span class="u-icon u-text-palette-1-light-1">
                                        <svg class="u-svg-content" viewBox="0 0 42 42" x="0px"
                                             y="0px" style="width: 1em; height: 1em;">
                                            <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
                 C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                                        </svg>
                                    </span>&nbsp;​預定更多房間
                                </a>
                                <div class="u-form u-form-1">
                                    <form action="https://forms.nicepagesrv.com/v2/form/process"
                                          class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form"
                                          style="padding: 10px;">
                                        <div class="u-form-group u-label-none u-form-group-1">
                                            <label for="text-1701" class="u-label">Input</label>
                                            <input type="text" placeholder="請輸入折扣碼" id="text-1701" name="text"
                                                   class="u-input u-input-rectangle">
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit u-label-none">
                                            <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success">
                                            Thank you! Your message has been sent.
                                        </div>
                                        <div class="u-form-send-error u-form-send-message">
                                            Unable to send your message. Please fix errors
                                            then try again.
                                        </div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                        <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                                    </form>
                                </div>
                                <div class="u-table u-table-responsive u-table-1">
                                    <table class="u-table-entity">
                                        <colgroup>
                                            <col width="33.3%">
                                            <col width="33.3%">
                                            <col width="33.4%">
                                        </colgroup>
                                        <tbody class="u-table-body">
                                            <tr style="height: 34px;">
                                                <td class="u-table-cell u-table-cell-1"> 訂房金額</td>
                                                <td class="u-table-cell"></td>
                                                <td class="u-table-cell u-table-cell-3"> TWD @($"{total:N0}")</td>
                                            </tr>
                                            <tr style="height: 46px;">
                                                <td class="u-table-cell u-table-cell-4"> 訂房總額</td>
                                                <td class="u-table-cell"></td>
                                                <td class="u-table-cell u-table-cell-6"> TWD @($"{total:N0}")</td>
                                            </tr>
                                            <tr style="height: 46px;">
                                                <td class="u-table-cell u-table-cell-7"> 應付訂金</td>
                                                <td class="u-table-cell"></td>
                                                <td class="u-table-cell u-table-cell-9"> TWD 660</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-container-style u-group u-white u-group-6">
            <div class="u-container-layout u-valign-middle u-container-layout-6">
                <h4 class="u-text u-text-default u-text-11"> 應付總額 @($"{Convert.ToInt32(total) + 660:N0}")</h4>
            </div>
        </div>

        <div class="u-container-style u-group u-palette-1-light-3 u-group-7">
            <div class="u-container-layout u-container-layout-7">
                <div class="u-container-style u-expanded-width u-grey-50 u-group u-group-8 bgc-hd">
                    <div class="u-container-layout u-container-layout-8">
                        <h4 class="u-text u-text-default u-text-12">訂購人資料 </h4>
                    </div>
                </div>
                <div class="custom-expanded u-form u-form-2">
                    <form action="https://forms.nicepagesrv.com/v2/form/process"
                          class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1"
                          style="padding: 10px;">
                        <div class="u-form-email u-form-group u-label-top">
                            <label for="name-a1ae" class="u-label">電子郵件 *</label>
                            <input type="email" id="name-a1ae" name="email-1" class="u-input u-input-rectangle" required="required">
                        </div>
                        <div class="u-form-group u-form-partition-factor-3 u-label-top">
                            <label for="email-a1ae" class="u-label">姓</label>
                            <input type="text" id="email-a1ae" name="name" class="u-input u-input-rectangle" required="required">
                        </div>
                        <div class="u-form-group u-form-partition-factor-3 u-label-top u-form-group-5">
                            <label for="text-49b8" class="u-label">名 *</label>
                            <input type="text" placeholder="" id="text-49b8" name="name1" class="u-input u-input-rectangle">
                        </div>
                        <div class="u-form-group u-form-partition-factor-3 u-form-select u-label-top u-form-group-6">
                            <label for="select-6a38" class="u-label">Dropdown</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-6a38" name="select" class="u-input u-input-rectangle">
                                    <option value="1" data-calc="1">先生</option>
                                    <option value="2" data-calc="2">女士</option>
                                    <option data-calc="3" value="3">小姐</option>
                                </select>
                                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                                     viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                                <polygon class="st0" points="8,12 2,4 14,4 "></polygon>
                  </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-select u-label-top u-form-group-7">
                            <label for="select-d13f" class="u-label">國籍*</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-d13f" name="select-1" class="u-input u-input-rectangle">
                                    <option value="1" data-calc="1" selected="selected">台灣</option>
                                    <option data-calc="2" value="2">日本</option>
                                    <option data-calc="3" value="3">英國</option>
                                    <option data-calc="4" value="4">美國</option>
                                </select>
                                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                                     viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                                <polygon class="st0" points="8,12 2,4 14,4 "></polygon>
                  </svg>
                            </div>
                        </div>
                        <div class="u-form-date u-form-group u-label-top u-form-group-8">
                            <label for="date-07fe" class="u-label">生日</label>
                            <input type="text" placeholder="YYYY/MM/DD/" id="date-07fe" name="date"
                                   class="u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy">
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-phone u-label-top u-form-group-9">
                            <label for="phone-fccf" class="u-label">手機</label>
                            <input type="tel"
                                   pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                                   placeholder="Enter your phone (e.g. +886xxx)" id="phone-fccf" name="phone-1"
                                   class="u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-phone u-label-top u-form-group-10">
                            <label for="phone-1fb2" class="u-label">電話</label>
                            <input type="tel"
                                   pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})"
                                   placeholder="Enter your phone (e.g. +14155552675)" id="phone-1fb2" name="phone1"
                                   class="u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-checkbox u-form-group u-label-top u-form-group-11">
                            <input type="checkbox" id="checkbox-21c5" name="checkbox" value="On" class="u-field-input">
                            <label for="checkbox-21c5" class="u-field-label">訂購人與住房相同</label>
                        </div>
                        <div class="u-align-center u-form-group u-form-submit u-label-top">
                            <a href="#" class="u-btn u-btn-submit u-button-style u-btn-4">下一步 </a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                        <div class="u-form-send-error u-form-send-message">
                            Unable to send your message. Please fix errors then
                            try again.
                        </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                        <input type="hidden" name="formServices" value="6e4a0bc6-f187-083d-bf8b-30d2003867b5">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>