@using System.Collections
@model HotelBookingSystem.Models.DTO.Member_Data_Edit
@{
    Layout = ViewBag.Layout;
    var items = ViewData["codeItem"] as IEnumerable<CodeItem>;
}
@section Styles {
    <link rel="stylesheet" href="~/css/Member.css" media="screen">
    <style>
        .input-date {
            width: 300px !important;
        }

        .qs-datepicker-container {
            width: 50%;
            height: 30vh;
        }

        .btn-submit {
            position: relative;
            top: 25px;
        }
    </style>
}

<section class="u-border-2 u-border-grey-75 u-clearfix u-grey-10 u-section-1" id="block-10">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <a asp-area="" asp-controller="Member" asp-action="Member" data-page-id="42920733" class="u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-4-dark-2 u-text-body-alt-color u-btn-1" title="Login">帳戶資訊 </a>
                <a asp-area="" asp-controller="Member" asp-action="Order" data-page-id="234216684" class="u-active-white u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-2" title="Page2">我的訂單 </a>
                <a asp-area="" asp-controller="Member" asp-action="Bonding" data-page-id="52192971" class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-3" title="Page3">帳戶綁定 </a>
                <a href="@Url.Action("Logout", "Login")" class="u-border-2 u-border-grey-25 u-border-hover-grey-25 u-btn u-button-style u-hover-white u-text-hover-palette-4-dark-2 u-white u-btn-4">登出 </a>
            </div>
        </div>
        <div class="u-container-style u-grey-10 u-group u-group-2">
            <div class="u-container-layout u-container-layout-2">
                <div class="u-form u-form-1">
                    @using (Html.BeginForm("SaveModifiedMember", "Member", FormMethod.Post, new { @class = "u-clearfix u-form-spacing-10 u-form-vertical", style = "padding: 10px;" }))
                    {
                        <div class="u-form-group u-form-name u-form-partition-factor-2 u-label-top u-form-group-2">
                            <label for="name-bb01" class="u-label">@Html.DisplayNameFor(x => x.firstName)</label>
                            @Html.TextBoxFor(x => x.firstName, new { id = "name-bb01", @class = "u-input u-input-rectangle", type = "text", placeholder = "Enter your Name", required = "" })
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-label-top u-form-group-3">
                            <label for="text-0090" class="u-label">@Html.DisplayNameFor(x => x.cardID)</label>
                            @Html.TextBoxFor(x => x.cardID, new { id = "name-bb01", @class = "u-input u-input-rectangle", type = "text", placeholder = "Enter your Name", required = "", style = " background-color: #e0e0e0", @readonly = "readonly" })
                        </div>
                        <div class="u-form-group u-form-input-layout-horizontal u-form-partition-factor-2 u-form-radiobutton u-label-top u-form-group-4">
                            <label class="u-label">@Html.DisplayNameFor(x => x.gender)</label>
                            <div class="u-form-radio-button-wrapper">
                                @foreach (var item in items)
                                {
                                    <div class="u-input-row">
                                        @Html.RadioButtonFor(x => x.gender, item.ItemValue, new {
                                        id = "field-" + item.ItemValue,@class = "u-field-input",data_calc = item.ItemValue,})
                                <label class="u-field-label" for="field-@item.ItemValue">@item.ItemText</label>
                            </div>
                                                        }
                        </div>
                    </div>
                    <div class="u-form-email u-form-group u-form-partition-factor-2 u-label-top">
                        <label for="email-2ef0" class="u-label">@Html.DisplayNameFor(x => x.email)</label>
                        @Html.TextBoxFor(x => x.email, new { type = "email", placeholder = "Enter a valid email address", id = "email-2ef0", @class = "u-input u-input-rectangle", required = "", maxlength = "50" })
                    </div>
                    <div class="u-form-group u-form-partition-factor-2 u-label-top u-form-group-6">
                        <label for="text-83b8" class="u-label">@Html.DisplayNameFor(x => x.phone)</label>
                        @Html.TextBoxFor(x => x.phone, new { @class = "u-input u-input-rectangle", type = "text", placeholder = "", id = "text-83b8" })
                    </div>
                    <div class="u-form-group u-label-top u-form-group-7">
                        <label for="text-5801" class="u-label">@Html.DisplayNameFor(x => x.birthday)</label>
                        @Html.TextBoxFor(x => x.birthday, new { id = "date-254b", @class = "u-border-none u-input u-input-rectangle u-radius u-input-1  input-date", type = "text", placeholder = "YYYY/MM/DD", data_date_format = "yyyy/mm/dd", @required = true })
                    </div>
                    <p class="u-form-group u-form-text u-label-top u-text u-text-1">國籍城市 </p>
                    <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-9">
                        <label for="select-796a" class="u-form-control-hidden u-label"></label>
                        <div class="u-form-select-wrapper">
                            <select id="select-796a" name="nationality" asp-for="nationality" asp-items="Model.NationalityOptions" class="u-input u-input-rectangle">
                            </select>

                            <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                        </div>
                    </div>
                    <div class="u-form-group u-form-partition-factor-2 u-form-select u-label-top u-form-group-10">
                        <label for="select-9430" class="u-form-control-hidden u-label"></label>
                        <div class="u-form-select-wrapper">
                            <select id="select-9430" name="city" asp-for="city" asp-items="Model.CityOptions" class="u-input u-input-rectangle">
                            </select>
                        </div>
                    </div>
                    <div class="u-form-group u-label-none u-form-group-5">
                        <label for="text-ef9e" class="u-label">Input</label>
                        <input type="password" placeholder="輸入密碼" id="text-ef9e" name="password"
                               class="u-input u-input-rectangle" required="required">
                        <span class="text-danger" asp-validation-for="password"></span>
                    </div>
                    <br />
                    <div class="u-form-group u-label-none u-form-group-6">
                        <label for="text-6f13" class="u-label">Input</label>
                        <input type="password" placeholder="再次輸入密碼" id="text-6f13" name="passwordConfirm"
                               class="u-input u-input-rectangle" required="required">
                        <span class="text-danger" asp-validation-for="passwordConfirm"></span>
                    </div>
                    <div class="u-align-center u-form-group u-form-submit btn-submit">
                        <button type="submit" class="u-btn001">儲存 </button>
                    </div>
                                        }
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .u-dialog-section-6 .u-dialog-1 {
        width: 700px;
        min-height: 512px;
        height: auto;
        margin: 243px auto 60px calc(((100% - 1140px) / 2) + 161px);
    }

    .u-dialog-section-6 .u-container-layout-1 {
        padding: 1px 0 0;
    }

    .u-dialog-section-6 .u-tabs-1 {
        min-height: 503px;
        height: auto;
        width: 685px;
        margin: 7px 0 0 auto;
    }

    .u-dialog-section-6 .u-tab-list-1 {
        background-image: none;
    }

    .u-dialog-section-6 .u-container-layout-2 {
        padding: 30px;
    }

    .u-dialog-section-6 .u-form-1 {
        height: 188px;
        width: 449px;
        margin: 44px auto 0;
    }

    .u-dialog-section-6 .u-form-group-2 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-btn-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .u-dialog-section-6 .u-btn-2 {
        border-style: solid;
        margin: -47px 110px 0 auto;
        padding: 0;
    }

    .u-dialog-section-6 .u-container-layout-3 {
        padding: 0 30px;
    }

    .u-dialog-section-6 .u-form-2 {
        height: 417px;
        width: 368px;
        margin: 0 auto;
    }

    .u-dialog-section-6 .u-input-3 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-form-group-5 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-input-4 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-form-group-6 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-input-5 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-form-group-7 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-input-6 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-form-group-8 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-input-7 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-text-1 {
        letter-spacing: 7px;
        margin-right: auto;
    }

    .u-dialog-section-6 .u-form-group-10 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-label-8 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-input-8 {
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    }

    .u-dialog-section-6 .u-btn-3 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .u-dialog-section-6 .u-container-layout-4 {
        padding: 19px 30px;
    }

    .u-dialog-section-6 .u-form-3 {
        height: 414px;
        width: 570px;
        margin: 0 auto;
    }

    .u-dialog-section-6 .u-form-group-14 {
        margin-left: 0;
    }

    .u-dialog-section-6 .u-icon-1 {
        width: 20px;
        height: 20px;
    }

    @@media (max-width: 1199px) {
        .u-dialog-section-6 .u-dialog-1 {
            margin-left: calc(((100% - 940px) / 2) + 161px);
        }

        .u-dialog-section-6 .u-tabs-1 {
            width: 685px;
            margin-right: 0;
        }

        .u-dialog-section-6 .u-form-1 {
            width: 570px;
        }

        .u-dialog-section-6 .u-btn-2 {
            margin-top: -47px;
            margin-right: 110px;
        }

        .u-dialog-section-6 .u-form-2 {
            width: 570px;
        }

        .u-dialog-section-6 .u-text-1 {
            margin-left: 0;
        }
    }

    @@media (max-width: 991px) {
        .u-dialog-section-6 .u-dialog-1 {
            margin-left: calc(((100% - 720px) / 2) + 20px);
        }
    }

    @@media (max-width: 767px) {
        .u-dialog-section-6 .u-dialog-1 {
            width: 540px;
            margin-left: calc(((100% - 540px) / 2));
        }

        .u-dialog-section-6 .u-tabs-1 {
            width: 540px;
        }

        .u-dialog-section-6 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-dialog-section-6 .u-form-1 {
            width: 500px;
        }

        .u-dialog-section-6 .u-btn-2 {
            margin-right: 5px;
        }

        .u-dialog-section-6 .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-dialog-section-6 .u-form-2 {
            width: 500px;
        }

        .u-dialog-section-6 .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-dialog-section-6 .u-form-3 {
            width: 520px;
        }
    }

    @@media (max-width: 575px) {
        .u-dialog-section-6 .u-dialog-1 {
            width: 340px;
            margin-left: calc(((100% - 340px) / 2));
        }

        .u-dialog-section-6 .u-tabs-1 {
            width: 340px;
        }

        .u-dialog-section-6 .u-form-1 {
            width: 320px;
        }

        .u-dialog-section-6 .u-btn-2 {
            margin-right: 0;
        }

        .u-dialog-section-6 .u-form-2 {
            width: 300px;
        }

        .u-dialog-section-6 .u-form-3 {
            width: 320px;
        }
    }</style>