<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Memeber</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    @RenderSection("Styles", required: false)
    <meta name="generator" content="Nicepage 7.5.2, nicepage.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta name="referrer" content="origin">





    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "",
        "logo": "images/default-logo.png",
        "sameAs": [
        "https://facebook.com/name",
        "https://twitter.com/name",
        "https://instagram.com/name"
        ]
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta name="twitter:site" content="@@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Login">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Login">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
    <style>
        .logo-new {
            border-radius: 50%;
        }

        .u-btn001 {
            display: block;
            width: 100%;
            padding: 10px 20px;
            text-align: center;
            background-color: #4682B4; /* 按鈕背景色 */
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }

        .txt-login {
            width: 50px !important;
            position: relative;
            top: 15px;
        }
    </style>
</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-border-5 u-border-grey-15 u-border-no-left u-border-no-right u-border-no-top u-clearfix u-header u-white u-header"
            id="header">
        @if (TempData["SuccessMessage"] != null)
        {
            <script>
                alert(@Html.Raw(Json.Serialize(TempData["SuccessMessage"])));
            </script>
        }
        <div class="u-clearfix u-sheet u-sheet-1">
            <a asp-controller="Home" asp-action="Index" class="u-image u-logo u-image-1" title="Home">
                <img src="~/logo/default-logoNew.webp" class="u-logo-image u-logo-image-1 logo-new">
            </a>
            <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
                    <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-hamburger-link u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-hamburger-link-1"
                       href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24">
                            <use xlink:href="#menu-hamburger"></use>
                        </svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                        @if (!string.IsNullOrEmpty(ViewBag.User))
                        {
                            <li class="u-nav-item">
                                <a class="u-border-2 u-button-style u-dialog-link u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                                   style="padding: 10px 18px;">@ViewBag.User</a>
                                <div class="u-nav-popup">
                                    <ul class="u-border-2 u-h-spacing-18 u-nav u-unstyled u-v-spacing-10">
                                        <li class="u-nav-item">
                                            <a href="@Url.Action("Logout", "Login")" class="u-button-style u-nav-link u-white">登出</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="u-nav-item">
                                <a href="@Url.Action("Login", "Login")" class="u-border-2 u-button-style u-dialog-link u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                                   style="padding: 10px 18px;"></a>
                            </li>
                        }
                        <li class="u-nav-item">
                            <a asp-controller="Book" asp-action="BookPage" class="u-border-2 u-button-style u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                               style="padding: 10px 18px;">返回訂房</a>
                        </li>
                        <li class="u-nav-item">
                            <a asp-controller="News" asp-action="News" class="u-border-2 u-button-style u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                               style="padding: 10px 18px;">最新消息</a>
                        </li>
                        <li class="u-nav-item">
                            <a asp-controller="RoomType" asp-action="RoomType" class="u-border-2 u-button-style u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                               style="padding: 10px 18px;">返回飯店介紹</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-button-style u-dialog-link u-nav-link u-text-body-color u-text-hover-palette-4-dark-2"
                               href="#popup-5f95" style="padding: 10px 18px;">登入 / 註冊</a>
                            <div class="u-nav-popup">
                                <ul class="u-border-2 u-h-spacing-18 u-nav u-unstyled u-v-spacing-10">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link u-white" asp-controller="Member" asp-action="Member">會員中心</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a href="@Url.Action("ShoppingCart", "Book")" class="u-button-style u-nav-link u-white">訂單管理</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-dialog-link u-nav-link" href="#popup-5f95">XXX</a>
                                    <div class="u-nav-popup">
                                        <ul class="u-border-2 u-h-spacing-18 u-nav u-unstyled u-v-spacing-10">
                                            <li class="u-nav-item">
                                                <a class="u-button-style u-nav-link">登出</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link">最新消息</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link">返回飯店介紹</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-dialog-link u-nav-link" href="#popup-5f95">登入 / 註冊</a>
                                    <div class="u-nav-popup">
                                        <ul class="u-border-2 u-h-spacing-18 u-nav u-unstyled u-v-spacing-10">
                                            <li class="u-nav-item">
                                                <a asp-controller="Member" asp-action="Member" class="u-button-style u-nav-link">會員中心</a>
                                            </li>
                                            <li class="u-nav-item">
                                                <a class="u-button-style u-nav-link">訂單管理</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @*             <section id="popup-5f95"></section> *@
            <span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px; padding: 15px"
                  class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base" data-href="#">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use>
                </svg>
                <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
                     xmlns="http://www.w3.org/2000/svg" id="svg-1d98">
                    <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
                </svg>
            </span>
        </main>
    </div>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-5-dark-2 u-footer" id="footer">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <span class="u-file-icon u-icon u-text-white u-icon-1"><img src="~/images/646094-251de927.png" alt=""></span>
            <div class="u-social-icons u-spacing-10 u-social-icons-1">
                <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name">
                    <span class="u-icon u-social-facebook u-social-icon u-text-white u-icon-2">
                        <svg class="u-svg-link"
                             preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                            <use xlink:href="#svg-11f5"></use>
                        </svg>
                        <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-11f5">
                            <path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name">
                    <span class="u-icon u-social-icon u-social-twitter u-text-white u-icon-3">
                        <svg class="u-svg-link"
                             preserveAspectRatio="xMidYMin slice" viewBox="0 0 112.2 112.2" style="">
                            <use xlink:href="#svg-ebd2"></use>
                        </svg>
                        <svg class="u-svg-content" viewBox="0 0 112.2 112.2" x="0px" y="0px" id="svg-ebd2">
                            <path d="M67.1,49.1L98.6,16h-12L62,42L43.2,16H11l32.8,45.2L11,96h11.6l26.3-27.7L69.1,96H101L67.1,49.1z M55,61.9l-5.1-7L27.5,24.4
 h11.4l17.3,23.8l5.1,7.1l23.4,32.2H73.8L55,61.9z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name">
                    <span class="u-icon u-social-icon u-social-instagram u-text-white u-icon-4">
                        <svg class="u-svg-link"
                             preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                            <use xlink:href="#svg-ec46"></use>
                        </svg>
                        <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-ec46">
                            <path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
  M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path>
                            <path fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path>
                        </svg>
                    </span>
                </a>
            </div>
            <p class="u-small-text u-text u-text-variant u-text-1">
                Tel: +886-4-435-5426 Fax: +886-4-437-8395<br>
                <br>800台灣高雄市新興區中華一路123號 旅店業登記證編碼: 998<br>
            </p>
            <p class="u-text u-text-2">
                <span class="u-file-icon u-icon u-text-white"><img src="~/images/3524375-6494542f.png" alt=""></span>&nbsp;&nbsp;
                2018 | Silks Hotel Group | 隱私權聲明與 Cookie 政策
            </p>
        </div>
    </footer>

    <style>
        .u-dialog-section-8 .u-dialog-1 {
            width: 778px;
            min-height: 427px;
            height: auto;
            margin: 142px auto 60px;
        }

        .u-dialog-section-8 .u-container-layout-1 {
            padding: 0;
        }

        .u-dialog-section-8 .u-group-1 {
            min-height: 61px;
            height: auto;
            margin-top: 0;
            margin-bottom: 0;
        }

        .u-dialog-section-8 .u-container-layout-2 {
            padding-left: 30px;
            padding-right: 30px;
        }

        .u-dialog-section-8 .u-text-1 {
            font-weight: 700;
            margin: 0 auto;
        }

        .u-dialog-section-8 .u-group-2 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: 26px auto 0 29px;
        }

        .u-dialog-section-8 .u-icon-1 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-2 {
            margin: 20px auto 0;
        }

        .u-dialog-section-8 .u-group-3 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: -139px auto 0 182px;
        }

        .u-dialog-section-8 .u-icon-2 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-3 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-group-4 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: -140px 320px 0 auto;
        }

        .u-dialog-section-8 .u-icon-3 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-4 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-group-5 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: -139px 167px 0 auto;
        }

        .u-dialog-section-8 .u-icon-4 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-5 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-group-6 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: -139px 15px 0 auto;
        }

        .u-dialog-section-8 .u-icon-5 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-6 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-group-7 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: 36px auto 0 30px;
        }

        .u-dialog-section-8 .u-icon-6 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-7 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-group-8 {
            width: 123px;
            min-height: 139px;
            height: auto;
            margin: -139px auto 0 187px;
        }

        .u-dialog-section-8 .u-icon-7 {
            width: 64px;
            height: 64px;
            margin: 16px auto 0;
        }

        .u-dialog-section-8 .u-text-8 {
            margin: 14px auto 0;
        }

        .u-dialog-section-8 .u-icon-8 {
            width: 20px;
            height: 20px;
        }

        .u-dialog-section-9 .u-dialog-1 {
            width: 674px;
            height: auto;
            min-height: 385px;
            margin: 172px calc(((100% - 1140px) / 2) + 215px) 60px auto;
        }

        .u-dialog-section-9 .u-container-layout-1 {
            padding: 0;
        }

        .u-dialog-section-9 .u-group-1 {
            width: 618px;
            min-height: 79px;
            height: auto;
            margin: 0 auto 0 23px;
        }

        .u-dialog-section-9 .u-container-layout-2 {
            padding: 0 5px;
        }

        .u-dialog-section-9 .u-text-1 {
            width: 42px;
            margin: 12px auto 0;
        }

        .u-dialog-section-9 .u-form-1 {
            height: 270px;
            margin: 24px 95px 0 117px;
        }

        .u-dialog-section-9 .u-btn-1 {
            padding-left: 178px;
            padding-right: 180px;
            background-image: none;
        }

        .u-dialog-section-9 .u-btn-2 {
            border-style: solid;
            margin: -12px auto 0 129px;
            padding: 0;
        }

        .u-dialog-section-9 .u-icon-1 {
            width: 20px;
            height: 20px;
        }

        @@media (max-width: 1199px) {
            .u-dialog-section-8 .u-group-1 {
                margin-top: 0;
                height: auto;
            }

            .u-dialog-section-8 .u-container-layout-2 {
                padding-top: 30px;
                padding-bottom: 30px;
            }

            .u-dialog-section-8 .u-group-2 {
                margin-top: 317px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-1 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-3 {
                margin-top: 89px;
                margin-left: 182px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-2 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-4 {
                margin-top: -367px;
                margin-right: 320px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-3 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-5 {
                margin-top: -595px;
                margin-right: 167px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-4 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-6 {
                margin-top: -367px;
                margin-right: 15px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-5 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-7 {
                margin-top: 317px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-6 {
                width: 64px;
            }

            .u-dialog-section-8 .u-group-8 {
                margin-top: 317px;
                margin-left: 187px;
                height: auto;
            }

            .u-dialog-section-8 .u-icon-7 {
                width: 64px;
            }

            .u-dialog-section-9 .u-dialog-1 {
                width: 674px;
                margin-right: calc(((100% - 940px) / 2) + 215px);
                min-height: 471px;
            }

            .u-dialog-section-9 .u-group-1 {
                min-height: 79px;
                margin-right: initial;
                margin-left: initial;
                width: auto;
                height: auto;
            }

            .u-dialog-section-9 .u-container-layout-2 {
                padding-top: 5px;
                padding-bottom: 0;
            }

            .u-dialog-section-9 .u-form-1 {
                margin-right: 95px;
                margin-left: 116px;
            }

            .u-dialog-section-9 .u-btn-1 {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .u-dialog-section-9 .u-btn-2 {
                margin-top: -12px;
                margin-left: 128px;
            }
        }

        @@media (max-width: 991px) {
            .u-dialog-section-8 .u-dialog-1 {
                width: 720px;
            }

            .u-dialog-section-9 .u-dialog-1 {
                margi
            }

            @@media (max-width: 767px) {
                .u-dialog-section-8 .u-dialog-1 {
                    width: 540px;
                }

                .u-dialog-section-8 .u-container-layout-2 {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .u-dialog-section-9 .u-dialog-1 {
                    width: 540px;
                    margin-right: calc(((100% - 540px) / 2));
                }

                .u-dialog-section-9 .u-form-1 {
                    margin-right: 28px;
                    margin-left: 49px;
                }

                .u-dialog-section-9 .u-btn-2 {
                    margin-left: 0;
                }
            }

            @@media (max-width: 575px) {
                .u-dialog-section-8 .u-dialog-1 {
                    width: 340px;
                }

                .u-dialog-section-8 .u-group-4 {
                    margin-right: 217px;
                }

                .u-dialog-section-9 .u-dialog-1 {
                    width: 340px;
                    margin-right: calc(((100% - 340px) / 2));
                }

                .u-dialog-section-9 .u-form-1 {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
    </style>
    <script>
        // 清除錯誤訊息
        function clearErrorMessage() {
               const el = document.getElementById("error-message");
        if (el) {
            el.innerHTML = "";
        } else {
            console.warn("找不到 #error-message 元素");
        }
        }
    </script>
    @Html.Partial("_LoginPopup")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
